*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

/* Section image et titre */

.img-1{
    width: 100%;
}

.title{
    padding: 2rem 0 5rem 0;
    color: white;
    background-color: #232D84;
    text-align: center;
}

h1{
    font-size: 5rem;
    font-weight: 900;
}

h3{
    font-size: 2.5rem;
    margin-top: -1.5rem;
}

h4{
    font-size: 1.2rem;
}

.hr-1{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #EB4F1C;
    margin: 1rem 0 1rem 0;
    width: 20rem;
    height: .3rem;
}

.title-button{
    background-color: #019FE3;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 0 0 20px 0;
    padding: 10px 20px 10px 20px;
}

.title-button:hover{
    background-color: #EB4F1C;
    padding: 14px 25px 14px 25px;
    transition: .6s all ease;
}

hr{
    border: none;
    height: 1rem;
    background-color: #EB4F1C;
}

/* Section c'est du délire */

.container{
    background-color: #232D84;
    padding: 5rem 0;
    color: white;
}

.title-1{
    text-align: center;
}

h2{
    font-size: 2rem;
}

.box-0{
    display: flex;
    margin: 4rem 10rem 0 10rem;
}

.box-0-1{
    padding-left: 2rem;
}

.box-0-1 h2{
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

.box-0-1 p{
    font-weight: 200;
    text-align: justify;
}

iframe{
    width: 30rem;
    height: 25rem;
    
    border: none;
    border-bottom: 1rem solid;
    border-color: #EB4F1C;
}

.bold{
    font-weight: bold;
}

/* Section Devenir entrepreneur */

.container-1{
    background-color: #232D84;
    padding: 4rem 10rem 4rem 10rem;
    color: white;
}

.container-1 h2{
    text-align: center;
    margin-bottom: 3rem;
}

.box-1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    margin-right: 1rem;

    font-size: 4rem;
    font-weight: 900;

    border: none;
    border-radius: 0 0 2rem 0;
    background-color: #019FE3;
}

.text-1{
    background-color: #EB4F1C;
    text-align: justify;
    padding: 1rem;
}

.bold-1{
    font-size: 2.5rem;
    font-weight: 900;
}

.text-1 p{
    font-weight: 300;
}

/* Section formation */

.img-2{
    height: 30rem;
    background-image: url(./image/sante.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container-2{
    background-color: #232D84;
    padding: 4rem 10rem 1rem 10rem;
    color: white;
}

.container-2 div{
    text-align: center;
}

.container-2 div h2 span{
    color: #EB4F1C;
}

.container-2-2{
    padding: 1rem 10rem 4rem 10rem;
    background-color: #232D84;
    color: white;
}

.box-2 a, .box-3 a, .box-4 a{
    color: white;
}

.box-2, .box-3, .box-4{
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.title-2 h1{
    width: 15rem;
    padding: .5rem;
    font-size: 2rem;
    border-radius: 0 0 2rem 0;
    background-color: #EB4F1C;
}

.box-2{
    padding: 1rem;
    background-color: #EB4F1C;
    border-radius: 0 0 3rem 0;
}

.box-2-button{
    margin-top: 1rem;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    color: #EB4F1C;
    border: none;
    border-radius: 0 0 20px 0;
    padding: 10px 20px 10px 20px;
}

.box-2-button:hover{
    background-color: #EB4F1C;
    color: white;
    border: 2px solid white;
    transition: .6s all ease;
}



.title-3 h1{
    width: 15rem;
    padding: .5rem;
    border-radius: 0 0 2rem 0;
    font-size: 2rem;
    background-color: #019FE3;
}

.box-3{
    padding: 1rem;
    background-color: #019FE3;
    border-radius: 0 0 3rem 0;
}

.box-3-button{
    margin-top: 1rem;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    color: #019FE3;
    border: none;
    border-radius: 0 0 20px 0;
    padding: 10px 20px 10px 20px;
}

.box-3-button:hover{
    background-color: #019FE3;
    color: white;
    border: 2px solid white;
    transition: .6s all ease;
}



.title-4 h1{
    width: 6rem;
    padding: .5rem;
    border-radius: 0 0 2rem 0;
    font-size: 2rem;
    background-color: #FAB032;
}

.box-4{
    padding: 1rem;
    background-color: #FAB032;
    border-radius: 0 0 3rem 0;
}

.box-4-button{
    margin-top: 1rem;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    color: #FAB032;
    border: none;
    border-radius: 0 0 20px 0;
    padding: 10px 20px 10px 20px;
}

.box-4-button:hover{
    background-color: #FAB032;
    color: white;
    border: 2px solid white;
    transition: .6s all ease;
}

.container-2-2 p{
    text-align: center;
    font-size: .7rem;
}
