
/* ========================hearder======================== */
*{
    font-family: 'poppins';
}

/* navbar */

.logo{
    padding-left: 2rem;
    width: 100px;
}

.lng{
    padding-right: 2rem;
 }
 #navbar{
    /* position:fixed; */
    /* top: 0;
    left: 0; */
 }

.fr{
    width: 1.6rem;
}

.en{
    width: 2rem;
}

/* ====================== MAIN/premiere image=========================== */
.img{
    height: 60vh;
    background-position: center;
    background-image: url(./image/image4.webp);
    border-bottom: solid .25rem #232D84;
    border-top: solid .25rem #232D84 ;
 }

/* =======================QUI SOMMES NOUS======================== */

.col0{
    color: #232D84;
    font-size: 50px;
}
.col4{
    color: #019FE3;
}
.col5{
    color: #019FE3;
}
.col6{
    color: #019FE3;
}
.col7{
    color: #019FE3;
}
/* ========================MAIN/ DEUXIEME IMAGE========================= */

.img1{
    background-image: url(./image/image7.png);
    background-position: center;
    height: 60vh; 
    background-repeat: no-repeat; 
    background-size: cover;
    border-bottom: solid .25rem #EB4F1C;;
    border-top: solid .25rem #EB4F1C;;
}

/* ======================= SECTION VISION========================== */

.colV{
    color: #232D84;
}
#img6{
    border-bottom: solid .5rem #FAB032;
}

/* ======================SECTION MISSION=========================== */
#img2{
    border-bottom: solid .5rem #FAB032;
}
.colM{
    color: #232D84;
}

/* ======================NOS PROGRAMES=================== */
#program{
    background-color: #019FE3;
    height: 80px;
    color: #FFFFFF;
    font-size: 80px;
}
/* ======================CONTAINER ====================== */
#img8{
    border-bottom:solid .50rem #019FE3;
}
.cola{
    color: #019FE3;
}
.colb{
    color: #019FE3;
}
.colc{
    color: #019FE3;
}
#texts{
    background-color: #232D84;
}

/* ===================CONTAINER ================ */

#forma{
    background-color:  #FAB032;
    color:  #FFFFFF;
    font-size: 80px;
}

/* ============================CONTAIRE ================ */

.colA{
    color: #019FE3;
}
.colB{
    color: #019FE3;
}

/* ============================ENERGY SPACE=============== */
#energi{
    background-color: #EB4F1C;
    color:  #FFFFFF;
}
.img3{
    background-image: url(./image/image11.jpeg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}

/* ============================CONTAINER ================ */
.text{
    display: flex;
}

.txt{
    width: 20%;
}

.col1{
    color: #019FE3;
}
.col2{
    color: #019FE3;
}
.col3{
    color: #019FE3;
}

.colB{
    color: #019FE3;
}
.colA{
    color: #019FE3;
}
.bac{
    background-color: #019FE3;

}
#carouselExampleControls .carousel-inner .carousel-item img{
    height: 300px;
}





/* ====================== Section 3======================= */

/* ======================Section 9======================== */
.img3{
    background-image: url(./image/image11.jpeg);
    background-position: center;
    background-size: cover;
    height: 70vh;

    
    
}
#energi{
    background-color: #EB4F1C;
    color:  #FFFFFF;
}



.contenaire1{
    height: 80vh;
    background-image:url(./image/page.jpg);
    position: relative;
    border-bottom: 4px solid #232D84;
    margin-bottom: 10px;

}

.cont2{
    position: absolute;
    bottom: 0;
    z-index: 5;
    height: 30%;
    background-color:#232D84;
    text-align: center;
    padding: 10px;
    /* margin-left:auto;
    margin-right:auto; */
    color: white; 
}

.contenaire2{
    background-color: whitesmoke;
}
.contenaire2 h2{
    background-color:#019FE3;
    text-align: center;
    color: white;
    padding: 15px;
    
}
.deux{
    margin-left: 200px;
    margin-right: 200px;
}

.contenaire3 h2{
    background-color: #019FE3;
    color: white;
    text-align: center;
    padding: 15px;
}
.contenaire3{
    padding-top: 30px;
}
.contenaire3 h2{
    background-color: #019FE3;
    color: white;
}

.contenaire4 h2{
    background-color:#EB4F1C;
    color: white;
    text-align: center; 
    padding: 15px;
}
#logo{
    height: 50px;
    width: 80px;
}
#footer{
    background-color:#232D84;
    color: white;
    /* display: flex;  */
    /* gap: 10%; */
    /* justify-content: center; */
    border-bottom:4px solid #019FE3;

} 

.end{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

                /*style du blog*/
                #profil{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
                #profil img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                
                }
